.zb_papar_mainPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.zb_papar_mainPage .zb_main_left {
  margin-left: 0.5%;
  width: 20%;
  height: 100%;
  border: 0 1px 1px 1px black solid;
  margin-right: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.zb_papar_mainPage .zb_main_left h2 {
  width: 95%;
  height: 4%;
  font-family: 'Times New Roman', '楷体';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_left .zb_main_left_bar {
  margin-top: 1%;
  width: 100%;
  height: 30%;
  box-shadow: black 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_left .zb_main_left_pie {
  margin-top: 1%;
  width: 100%;
  height: 34%;
  box-shadow: black 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.zb_papar_mainPage .zb_main_center {
  width: 56%;
  height: 98%;
  border-radius: 2rem;
  box-shadow: #7cf1cb 0 0 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  z-index: 2;
}
.zb_papar_mainPage .zb_main_center .zb_main_center_title {
  width: 95%;
  height: 7%;
  border-bottom: grey 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.zb_papar_mainPage .zb_main_center .zb_main_center_title img {
  height: 95%;
  cursor: pointer;
}
.zb_papar_mainPage .zb_main_center .zb_main_center_title h2 {
  width: 90%;
  height: 100%;
  font-family: 'Times New Roman', '楷体';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_center .zb_main_center_title h2::before {
  content: "";
  width: 20%;
  height: 4%;
  position: relative;
  background-color: grey;
  right: 5%;
}
.zb_papar_mainPage .zb_main_center .zb_main_center_title h2::after {
  content: "";
  width: 20%;
  height: 4%;
  position: relative;
  background-color: grey;
  left: 5%;
}
.zb_papar_mainPage .zb_main_center .zb_main_center_kg {
  width: 100%;
  height: 92%;
}
.zb_papar_mainPage .zb_main_center .settingWindow {
  position: fixed;
  width: 40%;
  height: 40%;
  border: black 1px solid;
  background-color: #daf4ed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingHeader {
  width: 98%;
  height: 10%;
  border-bottom: black 1px solid;
  display: flex;
  flex-direction: row;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingHeader h3 {
  margin-right: auto;
  font-family: '楷体';
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_left {
  width: 20%;
  height: 94%;
  display: flex;
  flex-direction: column;
  border-right: black 2px dashed;
  align-items: center;
  overflow: auto;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_left .list-group {
  width: 90%;
  height: 100%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_left .list-group .list-group-item-info {
  height: 20%;
  font-family: '楷体';
  font-size: 1.3rem;
  font-weight: bolder;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_left .list-group .list-group-item-info:hover {
  background-color: greenyellow;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_left::-webkit-scrollbar {
  width: 0;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .rightPanel {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-family: '楷体';
  font-size: 1.2rem;
  font-weight: bolder;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .rightPanel::-webkit-scrollbar {
  width: 0;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel1 {
  width: 100%;
  height: 100%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel1 h4 {
  width: 90%;
  font-family: '楷体';
  font-size: 1.4rem;
  font-weight: bolder;
  border-bottom: black 1px solid;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel1 form {
  width: 90%;
  height: 100%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel1 form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterB {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterB .dropdown {
  width: 30%;
  margin: auto;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterB .dropdown .dropdown-toggle {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Times New Roman', '楷体';
  font-size: 1.2rem;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterB .dropdown .dropdown-menu {
  width: 100%;
  height: 150px;
  overflow: auto;
  font-family: 'Times New Roman', '楷体';
  font-size: 1.2rem;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterB .dropdown .dropdown-menu::-webkit-scrollbar {
  width: 0;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC {
  width: 95%;
  height: 63%;
  display: flex;
  margin-top: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 1px dashed;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group li {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group li span {
  width: 15%;
  height: 100%;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group li .form-control {
  width: 20%;
  margin-left: 1%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group li .form-control1 {
  width: 60%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group li .addMidfy {
  margin-left: 1%;
  width: 5%;
  cursor: pointer;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group li .addMidfy:hover {
  width: 5.5%;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .filterC .list-group::-webkit-scrollbar {
  width: 0;
}
.zb_papar_mainPage .zb_main_center .settingWindow .settingBody .settingBody_right .Panel2 .btn-outline-success {
  width: 30%;
  margin-top: 1%;
}
.zb_papar_mainPage .zb_main_right {
  padding: 0;
  width: 20%;
  height: 100%;
  margin-right: 0.5%;
  margin-left: 1.5%;
  border: 0 1px 1px 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.zb_papar_mainPage .zb_main_right h2 {
  width: 95%;
  height: 4%;
  font-family: 'Times New Roman', '楷体';
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar {
  margin-top: 1.5%;
  width: 100%;
  height: 31%;
  box-shadow: black 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar .dropdown {
  height: 100%;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar .dropdown .dropdown-toggle {
  height: 100%;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar .dropdown .dropdown-menu-right {
  height: 120px;
  overflow: auto;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_pie {
  margin-top: 1.5%;
  width: 100%;
  height: 31%;
  box-shadow: black 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_pie .dropdown {
  height: 100%;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_pie .dropdown .dropdown-toggle {
  height: 100%;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_pie .dropdown .dropdown-menu-right {
  height: 120px;
  overflow: auto;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar1 {
  margin-top: 1.5%;
  padding: 1%;
  width: 100%;
  height: 31%;
  box-shadow: black 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar1 h4 {
  width: 100%;
  border-bottom: 1px solid black;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar1 .funList {
  width: 100%;
  height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar1 .funList .btn {
  margin: 4px;
  font-family: '楷体';
  font-size: 1.3rem;
}
.zb_papar_mainPage .zb_main_right .zb_main_right_bar1 .funList::-webkit-scrollbar {
  width: 0;
}
.zb_papar_mainPage .zb_main_right .inputFile {
  position: fixed;
  box-shadow: black 0 0 10px;
  background-color: #daf4ed;
  border-radius: 10px;
  opacity: 1;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile2 {
  width: 98%;
  height: 60%;
  margin: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile2 ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile2 ul li {
  width: 90%;
  height: 33%;
  margin-top: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: '楷体';
  font-size: 1.5rem;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile2 ul li span {
  width: 60%;
  height: 100%;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile2 ul li h3 {
  width: 35%;
  height: 100%;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile2 ul li input {
  font-family: '楷体';
  font-size: 1.5rem;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile1 {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zb_papar_mainPage .zb_main_right .inputFile .inputFile1 .btn-secondary {
  margin: auto;
}
