.zb_kg_tabular {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zb_kg_tabular .zb_tabular_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: black 1px solid;
}
.zb_kg_tabular .zb_tabular_left .tabular_title {
  width: 100%;
  height: 8%;
  border-bottom: black 1px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
.zb_kg_tabular .zb_tabular_left .tabular_input {
  position: relative;
  width: 85%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: black 1px dashed;
}
.zb_kg_tabular .zb_tabular_left .tabular_input span {
  width: 20%;
  height: 50%;
  background-color: gainsboro;
  box-shadow: black 0 0 4px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: '楷体';
  font-weight: bolder;
  cursor: pointer;
}
.zb_kg_tabular .zb_tabular_left .tabular_input p {
  width: 30%;
  height: 80%;
  padding-left: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-family: '楷体';
  font-weight: bolder;
}
.zb_kg_tabular .zb_tabular_left .tabular_input .btn_pro_green {
  width: 15%;
  height: 50%;
  margin: auto;
  font-family: 'Times New Roman', '楷体';
}
.zb_kg_tabular .zb_tabular_left .dis_document {
  width: 95%;
  height: 80%;
  margin: auto;
  box-shadow: black 0 0 3px;
  overflow: auto;
}
.zb_kg_tabular .zb_tabular_left .dis_document::-webkit-scrollbar {
  width: 0;
}
.zb_kg_tabular .zb_tabular_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zb_kg_tabular .zb_tabular_right .control_btn {
  width: 80%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zb_kg_tabular .zb_tabular_right .control_btn .btn_pro_green {
  width: 30%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zb_kg_tabular .zb_tabular_right .control_process {
  width: 98%;
  height: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: '楷体';
}
.zb_kg_tabular .zb_tabular_right .control_result {
  width: 98%;
  height: 90%;
  box-shadow: black 0 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.zb_kg_tabular .zb_tabular_right .control_result .table_img {
  width: 99%;
  height: 48%;
  border-bottom: black 1px dashed;
  overflow: auto;
}
.zb_kg_tabular .zb_tabular_right .control_result .table_img > img {
  width: 99%;
  box-shadow: black 0 0 8px;
  cursor: pointer;
}
.zb_kg_tabular .zb_tabular_right .control_result .table_img .table_imgs:hover {
  opacity: 0.6;
  box-shadow: red 0 0 8px;
}
.zb_kg_tabular .zb_tabular_right .control_result .table_img::-webkit-scrollbar {
  width: 0;
}
.zb_kg_tabular .zb_tabular_right .control_result .table_img_content {
  width: 99%;
  height: 48%;
}
